html,
body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
}

header {
    display: flex;
    /* justify-content: center; */
    background-color: purple;
    padding: 8px 15px;
    font-size: 32px;
    font-weight: 900;
    color: #fff;
}

.main {
    display: flex;
    flex: 1;

}

aside {
    background-color: rgb(12, 111, 231);
    width: 400px;
    padding: 10px;

}
.links{
    display: flex;
    flex-direction: column;
    
    gap: 13px;
    padding-left: 16px;

}
.imglink{
    display: flex;
    align-items: center;
    gap: 5px;
}

/* ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 16px;
} */

a {
    text-decoration: none;
    color: #fff;

}

.content {
    padding: 16px;
    display: flex;

    flex-wrap: wrap;
    gap: 10px 10px;

}

.message {
    width: 250px;
    height: 300px;
    border: 1px solid #ddd;
    box-shadow: 10px 10px 5px #aaaaaa;
    padding: 5px;
    overflow: auto;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    background-color: #bbb;
    gap: 10px;
    /* font-size: ; */
}

img {
    width: 24px;
}